*{
    background-color: bisque;
    color: blue;
    padding: 20px;
}
img{
    width: 200px;
    height: auto;
    margin-left: 45%;
}
section{
    text-align: center;
}
h3{
    color: aquamarine;
    background-color: blueviolet;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}